body {
    background: linear-gradient(90deg, #51465a, #6b4c5d, #8e6470, #b3888d, #c4a9ae);

}
.style
      ,.float-sm-end, .float-md-end, .float-lg-end, .float-xl-end, .float-xxl-end {
        display: none;
}


     h1{
    text-align: center;      
    font-weight: 1000;
    font-style: normal;
    font-family: "Righteous", sans-serif;
    border: 3px solid #ffc0cb; /* Estilo, ancho y color del borde */
    padding: 15px;          /* Espacio entre el borde y el texto */
    color: black;           /* Color del texto */
    background-color: #b3888d; /* Color de fondo (opcional) */
    display: inline-block;  /* Asegura que el borde se ajuste al tamaño del texto */
    font-size: 55px;
      }
    .contenedor{
        display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 05vh;           /* Asegura que el contenedor ocupe toda la altura de la ventana */
     }

    h3{
        text-align: left;
        font-weight: 300;
        font-style: normal;
        font-family: "Rubik", sans-serif;
        font-size: 30px;
        font-optical-sizing: auto;
        color:#2a262e
    }
    h4{
        text-align: center;
        font-family: "Rubik", sans-serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style:normal;
        font-size: 50px;
        color: #3d3544;
      }

p{
        text-align: justify;
        font-family: "Prompt", sans-serif;
        font-weight: 300;
        font-style: normal;
        font-size: 24px;
}
 div.center {
        font-size: 30px;
        color: #d3b6bb;
        text-align: center;
        margin: 0 auto;
        width: fit-content;
}
 ol{ 
        text-align: justify;
        font-family: "Prompt", sans-serif;
        font-weight: 300;
        font-style:oblique;
        font-size: 24px;
 }
 ul{
        text-align: justify;
        font-family: "Rubik", sans-serif;
        font-weight: 300;
        font-style: oblique;
        font-size: 24px;
        color: black;          
}
div.cuestionario{
    border: 4px solid #c9a4b8; /* Cambia el color y grosor del borde según prefieras */
    background-color: #8e6470; /* Cambia el color de fondo según prefieras */
    padding: 40px; /* Añade espacio interno entre el contenido y el borde */
    border-radius: 20px; /* Hace que los bordes sean redondeados, puedes ajustar el valor */
    max-width: 900px; /* Limita el ancho máximo del cuestionario */
    margin: 0 auto; /* Centra el cuestionario horizontalmente en la página */
}

.indicaciones{
    text-align: center;
    font-size: 24px;
    color: rgb(226, 191, 217); 
}


.imagen1 {
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    max-width: 3500px; /* Establece un ancho máximo de 600 píxeles */
    height: 90; /* Mantiene la proporción original de la imagen */
    object-fit:contain; /* Asegura que la imagen se vea completa dentro del contenedor */
}
.kali{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
        max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
        height: auto; /* Mantiene la proporción de la imagen */
        border-style:dashed;
        border-width: 8px; /* Ancho del borde */
        border-color: #ffc0cb;
}
.Uchis{
    border-top: 40px solid #8e6470; /* Línea horizontal en la parte superior */
    border-bottom: 40px solid #c9a4b8; /* Línea horizontal en la parte inferior */
    padding-top: 10px; /* Espacio entre la línea y el contenido superior */
    padding-bottom: 10px; /* Espacio entre la línea y el contenido inferior */
    margin: 0px 0; /* Margen arriba y abajo del div */
}

.Hozier{
    border-top: 40px solid #8e6470; /* Línea horizontal en la parte superior */
    padding-top: 10px; /* Espacio entre la línea y el contenido superior */
    margin: 0px 0; /* Margen arriba y abajo del div */
}

.Enjambre{
    border-top: 40px solid #c9a4b8; /* Línea horizontal en la parte superior */
    padding-top: 10px; /* Espacio entre la línea y el contenido superior */
    margin: 0px 0; /* Margen arriba y abajo del div */
}
.Okills{
    border-top: 40px solid #8e6470; /* Línea horizontal en la parte superior */
    padding-top: 10px; /* Espacio entre la línea y el contenido superior */
    margin: 0px 0; /* Margen arriba y abajo del div */
}

.youtube-copyright {
    display: flex;
    align-items: center; /* Centra verticalmente los elementos dentro del contenedor */
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    text-align: center; /* Asegura que el texto dentro de <p> esté centrado si hay más de una línea */
}

#Youtube {
    width: 5%; /* Ajusta el tamaño de la imagen al 5% del contenedor */
    max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
    height: auto; /* Mantiene la proporción de la imagen */
    margin-right: 10px; /* Añade un margen a la derecha de la imagen */
}

.youtube-copyright p {
    margin: 0;
}

.Sha{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
        max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
        height: auto; /* Mantiene la proporción de la imagen */
        border-style:dashed;
        border-width: 8px; /* Ancho del borde */
        border-color: #ffc0cb;
}
.Ho{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
        max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
        height: auto; /* Mantiene la proporción de la imagen */
        border-style:dashed;
        border-width: 8px; /* Ancho del borde */
        border-color: #ffc0cb;
}
.enja{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
    max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
    height: auto; /* Mantiene la proporción de la imagen */
    border-style:dashed;
    border-width: 8px; /* Ancho del borde */
    border-color: #ffc0cb;
}
.oki{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%; /* Ajusta el tamaño de la imagen al 50% del contenedor */
    max-width: 100%; /* Asegura que la imagen no se expanda más allá de su tamaño original */
    height: auto; /* Mantiene la proporción de la imagen */
    border-style:dashed;
    border-width: 8px; /* Ancho del borde */
    border-color: #ffc0cb;
}

a {
    color: #ffc0cb; /* Cambia el color del enlace, en este caso a un tono tomate */
    font-family: 'Arial', sans-serif; /* Cambia la fuente del enlace */
    text-decoration: solid; /* Elimina el subrayado del enlace */
}

a:hover {
    color: #f18295; /* Cambia el color del enlace cuando se pasa el cursor por encima */
    text-decoration: underline; /* Agrega subrayado cuando se pasa el cursor por encima */
}

.footer p {
    text-align: center;
}

.footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer input,
.footer button {
    margin-bottom: 10px; /* Espaciado entre el input y el botón */
}
 
.footer input{
background-color: #6b4c5d; /* Color de fondo */
color: #c4a9ae; /* Color del texto */
border: 2px solid #cccccc; /* Color del borde */
padding: 10px; /* Espaciado interno */
border-radius: 5px; /* Bordes redondeados */
}

.footer{
    border-top: 40px solid #c9a4b8; /* Línea horizontal en la parte superior */
    border-bottom: 40px solid #5a3d4d; /* Línea horizontal en la parte inferior */
}